.App {
  font-family: sans-serif;
}

.item {
  width: 50%;
  border-bottom: 2px solid black;
  padding: 10px 15px;
  margin: 10px 0;
}
.item:hover {
  border-bottom: 2px solid yellow;
  transition: 0.5s;
  cursor: pointer;
}
.floated {
  float: right;
}

button {
  border: none;

  cursor: pointer;
  background-color: gray;
  height: 30px;

  color: white;
  border-radius: 3px;
}

.songDetail {
  margin: 0 0 0 30px;
  padding: 10px;
  border-left: 2px solid black;
}
